
.app {
  position: relative;
  min-height: 100vh;

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
    z-index: -1;
    background-image: url('../assets/clouds.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.app-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 32px;

  @media (min-width: $breakpoint-md) {
    margin-bottom: 48px;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 16px;

  @media (min-width: $breakpoint-sm) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $breakpoint-md) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: $breakpoint-lg) {
    grid-template-columns: repeat(5, 1fr);
  }
}
